---
# Configure Timerzone
icpc_timezone: 'Europe/Athens'

# Configure the ICPC admin password. Is this the system admin password or the password of the
# Tool they use to host the contest. Probably they create another user, apart from the team
# That has access to the contest server.
icpcadmin_pass: icpcadmin

#The auth token that is used to allow traffic to the server
auth_token: "1234"

#This is fine as long as we understand how the languages are beeing set up.
# Check the java version that is beeing downloaded
languages:
  - c
  - cpp
  - java
  - python3

devtools:
  - codeblocks
  - geany
  - vscode
  - intellij-idea
  - intellij-pycharm
  - netbeans

vscode_extensions:
  # C/C++
  - ms-vscode.cpptools-extension-pack
  - ms-vscode.cpptools
  # Python
  - ms-python.python
  - kevinrose.vsc-python-indent
  - visualstudioexptteam.vscodeintellicode
  # Java
  - vscjava.vscode-java-pack
  # Misc
  - vscodevim.vim
  - lfs.vscode-emacs-friendly
  # Themes
  - akamud.vscode-theme-onedark
  - akamud.vscode-theme-onelight
  - tgreen7.one-monokai-dark
  - jprestidge.theme-material-theme

# Firefox policies. Documented here:
# https://mozilla.github.io/policy-templates/
firefox_policies:
  # Set (and lock) the homepage to the given url
  # Homepage:
  #   URL: "http://contest"
  #   Locked: true
  #   StartPage: homepage-locked
  # Add some bookmark entries (and always show the bookmarks toolbar)
  DisplayBookmarksToolbar: always
  Bookmarks:
    - Title: Programming Docs
      URL: "file:///opt/localwww/index.html"
      Placement: "toolbar"

firefox_default_policies:
  # Prevent updating (shouldn't happen on linux, but we want to avoid it anyway)
  DisableAppUpdate: true
  # What it says on the tin. This is to prevent a banner on first start about what it's sharing
  DisableTelemetry: true

  # Disable a bunch of random features we don't need
  DisablePocket: true
  DisableFirefoxStudies: true
  DisableFirefoxAccounts: true
  DisableFeedbackCommands: true
  NewTabPage: false
  NoDefaultBookmarks: true
  DisableProfileImport: true

  # Disable a bunch of messages
  UserMessaging:
    WhatsNew: false
    ExtensionRecommendations: false
    FeatureRecommendations: false
    UrlbarInterventions: false
    SkipOnboard: true
    MoreFromMozilla: false
    Locked: true
